@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro';

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a{
	text-decoration: none;
	color: #0091EA;
}

html,body{
	background-color: white;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
}

header{
  position: relative;;
  width: 100%;
  height: 35px;
  color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
	padding-left: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.header-text{
	float: left;
	font-size: 2em;
	line-height: 1em;
}

.offline-text{
	font-size: 0.4em;
	visibility: hidden;
}

.events-remaining{
	float:right;
	margin-right: 3%;
}

.events-remaining-text, .events-remaining-value{
	font-size: 0.8em;
	visibility: visible;
}

.active-nerds{
	float:right;
	line-height: 2em;
	margin-right: 70px;
}

#area{
	width: 100%;
	position: relative;
}

circle {
    fill-opacity: 0.8;
}

.label {
    font: 1.0em 'Source Sans Pro', sans-serif;
    text-shadow:1px 1px 0 rgb(28, 39, 51),
    -1px -1px 0 rgb(28, 39, 51),
    1px -1px 0 rgb(28, 39, 51),
    -1px 1px 0 rgb(28, 39, 51),
    0px 1px 0 rgb(28, 39, 51),
    1px 0px 0 rgb(28, 39, 51),
    0px -1px 0 rgb(28, 39, 51),
    -1px 0px 0 rgb(28, 39, 51);
}

.online-users-div{
	text-align: center;
	position: fixed;
	bottom: 20px;
	width: 100%;
	margin: 0 auto;
	z-index: 1;
}

.online-users-text{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1em;
	color: #E0E0E0;
}

.possibly-text{
	visibility: false;
}

footer{
	width: 100%;
	height: 200px;
	padding: 20px;
	background-color: #242729;
	color: #9FA6AD;
	margin-top: -5px;
	position: relative;
	font-size: 0.9em;
}

.social-buttons{
	position: fixed;
	bottom:20px;
	right:20px;
	z-index: 2;
}
